

body{
    background-color: rgb(89, 176, 239);
}

h1{
    text-transform: uppercase;
    font-size: 3rem;
}

p{
    font-size: 2rem;
}
.poster{
padding-top: 150px;
    width:50%;
    margin-left: 25%;
    color:solid black;
    font-family: "libre baskerville", serif;
    text-align:center;
}

.motivational {
    height:900px;width: 800px;
    border: 15px solid rgb(255, 250, 250);
}